[Desktop Entry]
Version=1.0
Name=Magic
Comment=VLSI Layout Editor
Exec=magic
Type=Application
Icon=magic
Categories=Development;Electronics;
Terminal=false
StartupNotify=true
