[Desktop Entry]
Name=Magic
Exec=magic %f
Type=Application
MimeType=application/x-magic-layout;application/x-gds;
Icon=magic
Categories=Development;Electronics;
